<html>
<head>
<title>About</title>
<style type="text/css">
p{padding-left:5px}
</style>
</head>
<body style = "font-family:trebuchet ms,tahoma,helvetica,arial,verdana,sans-serif">
<h1 style="color:white;background-color:black; padding-left:5px"> About</h1>

<p>
<h2 style = "color:red; background-color:#FFF6BF;border:1px dashed #AC7FB8;padding-left:5px">CityEatouts By Santosh Wadghule</h2>
</p>
<p>
CityEatouts is a project by Santosh Wadghule @ <a href ="/">cityeatouts.com</a>. I made cityeatouts because I realized that every one gets the difficult to find out cool and best places to eat. People want good, fresh food with full of fun environment. CityEatouts helps to find out cool eat out places in the city, near you.
</p>

<p>Using google maps you can share your address of eat out places to your friends and family.
</p>

<p>If there are any suggetions, feel free to cantact me @ santosh[dot]wadghule[at]gmail[dot]com </p>

<p><i> thanks to...</i><br>
Google Maps API and Team<br>Google Ajax search API and Team</p>
[ <a href ="/">Home</a> ]
</body>
<html>	  
