<html>
<head>
<title>New</title>
<style type="text/css">
p{padding-left:5px}
</style>
</head>
<body style = "font-family:trebuchet ms,tahoma,helvetica,arial,verdana,sans-serif">
<h1 style="color:white;background-color:black; padding-left:5px">Whats New?</h1>

<p>
<h2 style = "color:red; background-color:#FFF6BF;border:1px dashed #AC7FB8;padding-left:5px">New Features...</h2>
</p>
<p>
* Using IP address location you don't need to type your current address of city.</p> 

<p>* If you don't know the city name it will give the city name automatically.  
</p>

<p>* You can share the maps with your friends or your family</p>
<p>* CityEatouts gives some recipeies of food from Tastespotting site</p>
[ <a href ="/">Home</a> ]
</body>
<html>	  