<html>
<head>
<title>Share</title>
<style type="text/css">
p{padding-left:5px}
</style>
</head>
<body style = "font-family:trebuchet ms,tahoma,helvetica,arial,verdana,sans-serif">
<h1 style="color:#336699;background-color:#BBD9EE; padding-left:5px;border-left:5px solid #336699">Share</h1>

<p>
<h2 style = "color:black; background-color:#DDDDDD;border:1px dashed #AC7FB8;padding-left:5px">Comming Soon !!!</h2>
</p>
<p>
Sorry for inconvenience, this feature will be available soon.
</p>

<p>Till then just copy the address of location and send it through the mail...
</p>

</p> thanks for helping me...</p>

<p style="font-size:2em; color:purple"> :( </p>

[ <a href ="/">Home</a> ]
</body>
<html>	  